.product{
  width: 100%;
  display: flex;
 
}

.product .description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  width: 800px;
}

.buyBtn{
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 2em;
  cursor: pointer;
}


.offer50p{
  color: #007600;
  font-size: 40px;
  background-color: #f0c14b;
}

.offer20p{
  color: yellow;
  font-size: 40px;
  background-color: red;
}

